body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: pink;
    margin: 0;
}

.login_wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

.login_wrapper input {
    width: calc(100% - 10px);
    padding: 10px;
    margin: 5px 0 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.login_btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login_btn:hover {
    background-color: #0056b3;
}