* {
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: 'Roboto';
    src: url('../roboto/Roboto-Thin.ttf');
    /* Другие форматы шрифта, если есть */
  }
  @font-face {
    font-family: 'Roboto-Bold';
    src: url('../roboto/Roboto-Bold.ttf');
    /* Другие форматы шрифта, если есть */
  }
body {
    background-color: #F5F3F4;
    font-family: 'Roboto';
    min-width: 545px;
}
section {
    margin: 0px 65px;
}
a {
    font-family: 'Roboto-Bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}
button {
    cursor: pointer;
}
/* heading start */
.heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
   
}
.headings a {
    font-family: 'Roboto';
}
.main_img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.headings {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-basis: 613px;
    /* flex-grow: 1; */
   

}
.headings_elements {
    position: relative;
    justify-content:space-between;
}
.star {
    color: orange;
   position: absolute;
    top: -5px;
    right: -10px;
}
.main_btn {
   display: flex;
   align-items: center;
}
.loginBtn {
    width: 80px;
    height: 32px;
    border-radius: 12px;
    background-color: black;
    border: none;
    color: white;

}
@media (max-width: 545px) {
    .headings {
        display: none;
        /* padding: 0;
        margin: 0; */
        
    }
    
}
/* heading end */
/* hello wrapper start */
.hello_main_wrapper {
    display: flex;
    margin-top: 32px;
    justify-content: space-around;


}
h1 {
    font-family: 'Roboto-Bold';
    font-size: calc(1.9vw + 52.5px);
    font-weight: 700;
    line-height: 110%;
    text-align: left;
 
}
.hello_wrapper {
    margin-top: 129px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    flex-basis: 560px;
    flex-grow: 1;
    
}

.hello_text span {
    font-size: 23px;
    line-height: 138%;
    text-align: center;
    justify-content: center;
}
.orange_btn {
    width: 160px;
    height: 46px;
    border-radius: 16px;
    background-color: #FFAE33;
    border: none;
    font-family: 'Roboto-Bold';
}
.try_now_wrapper {
    display: flex;
    gap: 24px;
}
.try_now_text span {
    font-size: 18px;
    font-weight: 700;
    line-height: 125%;
    
}
.hello_img_cont {
    margin-top: 32px;
}
.hello_img{
  width: 100%;
}
.logo_wrapper {
    display: flex;
    gap: 28px;
}
/* hello wrapper end */
/* screen_2 start */
.screen_2 {
    padding: 160px 0;
}
h2 {
    font-family: 'Roboto-Bold';
    font-size: 54px;
    font-weight: 700;
    line-height: 118%;
    text-align: center;
}
.strikethrough {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    font-size: 54px;
    line-height: 118%;
    text-align: center;
    color:#999795;
}



/* screen_2 end */
/* screen_3 start */
.screen_3 {
    margin-bottom: 177px;
}
.code_info {
    display: flex;
    flex-wrap: wrap;
    
}
.code_elements {
        display: flex;
        flex-direction: column;
        margin: 56px 0;
        margin-right: 66px;
    }
.code_elements {
    max-width: 600px;
}
.code_elements h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 125%;
    text-align: left;
    font-family: 'Roboto-Bold';
}
.code_elements p {
    font-size: 24px;
    line-height: 133%;
    color:#12100CB2;
    margin-top: 8px;
}
.code_info_btns {
    display: flex;
    gap: 16px;
    padding-top: 16px;
    margin-top: 139px;
}
.code_info_btn {
    width: 162px;
    height: 32px;
    border-radius: 10.5px;
    color: black;
    background-color: #FFAE33;
    border: none;
    font-family: 'Roboto-Bold';
}
.code_info_btn_2 {
    width: 146px;
    height: 32px;
    border-radius: 10.5px;
    color: black;
    background-color: #FFB0AE;
    border: none;
    font-family: 'Roboto-Bold';
}
.info_img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 590px;
    flex-grow: 1;
    
}
.info_img_1212 {
    width: 100%;
}
/* screen_3 end */
/* screen 4 start */
.vscode_img {
    width: 100%;
}
.extension_img {
    margin: 48px 0;
}


.extensions {
    display: flex;
    flex-direction: column;
    gap: 24px 0;
}
.extension_text {
    display: flex;
    justify-content: space-around;
   
    margin-bottom: 24px;
}
.extension_text p {
    font-family: "Roboto";
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #12100CB2;
    width: 900px;
    padding: 0 11px;
   
}



.extensions_btn {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.corner {
    top: 10px;
    border: 1px solid black;
    width: 207px;
    height: 46px;
}
.btn_browser {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 10px;
    border: none;
    background-color: #FFFFFF;
    width: 100%;
    height: 48px;
    margin-top: -1px;
    margin-right: -1px;
    margin-bottom: -1px;
    width: 209px;
    margin-left: -1px;
    
}
.btn_browser img {
    margin: 11px 4px 12px 12px;
}
/*  screen 4 end */
/* screen 5 start */
.screen_5 {
    margin-top: 177px;
}
.screen_5 h2 {
    margin-bottom: 48px;
}
.main_p {
    margin-bottom: 8px
}
.main_p_2 {
    margin-bottom: 10px;
    font-family: 'Roboto-Bold';
}
.feedback_card {
    background-color:white;
    padding: 24px 20px 38px;
    border-radius: 12px;
    flex-basis: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 24px;
}
.feedback_card_top p {
    font-size: 21px;
}
.feedback_card_bottom{
    display: flex;
    gap: 12px;
    margin-top: 12px;
}
.feedback_card_bottom img {
    height: 48px;
}
.feedback_card_bottom p {
    font-size: 21px;
}
/* screen 5 end */
/* screen 6 start */
.screen_6 {
    padding-top: 91px;
}
.logo {
    width: 100%;
}
.many_wrapper {
    display: flex;
    flex-direction: column;
}
.many_photos {
    display: flex;
    flex-direction: row;
}
.many_3_photos {
    display: flex;
    align-items: space-between;
    justify-content: space-around;
   
}
.many_photos, .many_photos_2 {
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 0 15px;
}

.many_photos_2 img {
    width: 100%;
}


/* screen 6 end */
/* screen 7 start */
.screen_7 {
    margin-top: 178px;
}
.screen_7 h2 {
    margin-bottom: 48px;
}
.h3_wrapper {
    display: flex;
    justify-content: center;
    margin-top: 56px;
}
.text_h3_wrapper{
    font-family: "Roboto-Bold";
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}
.start_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 26px;
    max-width: 1310px;
    display: flex;


}
.start_wrapper p {
    text-align: center;
}
.first_wrapper, .second_wrapper {
    background-color: white;
    border-radius: 20px;
   
}
.first_wrapper {
    display: flex;
    flex-direction: column;

    height: 651px;
    max-width: 100vw;
    flex-basis: 50%;

}
.second_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    flex-basis: 50%;
}
.wrapper_2_h3 {
    display: flex;
    justify-content: center;
   
    margin-top: 56px;
}
.text_h3_wrapper_2 {
    font-family: "Roboto-Bold";
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
   
}
.text_p_wrapper{
    font-size: 24px;
    font-weight: 400;
    line-height: 31.92px;
}
.p{
    max-width: 530px;
    display: flex;
    justify-content: center;
}
.wrap_btns {
    margin-top: 64px;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}
.wrap_btn {
    display: grid;
    grid-template-columns: 50px 160px;
    margin-bottom: 12px;
    align-items: center;
    margin: 0 auto;
    border: none;
    color: white;
    width: 262px;
    height: 46px;
    border-radius: 12px;
  
 
   background-color: #FC6D26;
}
.wrap_btn img {
   margin-left: 33px;
}
.wrap_btn_2 {
 
   background-color: black;
}
.wrap_btn_3 {
 
   background-color: 
   #2684FF;
}
.wrap_text_cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrap_text {
    font-family: "Roboto";
    font-size: 24px;
    line-height: 31.92px;
    text-align: center;
    margin-top: 65px;
    margin-bottom: 6px;
    
}
.strange_text_cont {
    display: flex;
    justify-content: center;
}
.strange_text {
    background-color:  #FFE4BC;
    width: 151px;
    height: 31px;
    border-radius: 12px;
}

.icons_info_btns {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    margin-top: 32px;
    
}
.icons_info {
    margin: 0 10px;
    /* display: grid; */
    display: flex;
    /* grid-template-columns: 1fr 8fr 1fr; */
    /* width: 530px; */
    height: 56px;
    border-radius: 12px;
    background-color: #F9F9F9;
    margin-bottom: 24px;
    align-items: center;
    justify-content: space-around;

}


.launch {
    
    width: 143px;
    height: 32px;
    border-radius: 12px;
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    margin-right: 12px;
    
   
}
.icons_info span {
    margin-left: 16px;
}
.icons_info img {
    padding-left: 16px;
   
}
/* screen 7 end */

/* ending start */
.ending {
    width: 100vw;
    background: white;
    margin-top: 160px;
}
.ending_center {
    display: flex;
    flex-direction: column;
    max-width: 852px;
    margin: 0 auto;
}
.ending_top {
    display: flex;
    margin-top: 48px;
    
    padding-bottom: 48px;
    border-bottom: 2px #ECE7E5 solid;
    justify-content: space-around;
   
}
.ending_elements p {
   padding-bottom: 8px;
}

.ending_bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 33px;
}
.bottom_2part {
    display: flex;
    flex-direction: row;
    gap: 0 15px;
    margin-right: 294px;
   
}

/* ending end  */